<!DOCTYPE html>
<html
  lang="{{ .Site.Language.Lang | default "en" }}"
  data-theme="{{ .Param "defaultTheme" | default "light" }}"
>
  {{ partial "head/head.html" . }}
  <body>
    {{ if or .IsHome .Params.hideSidebar }}
    <style>
      main {
        grid-template-areas: "content" !important;
        grid-template-columns: minmax(0, {{ if .IsHome }}1100px{{ else }}900px{{ end }}) !important;
        justify-content: center;
      }
    </style>
    {{ end }}
    <div class="layout">
      {{ partial "header.html" . }}
      <main>
        <div class="content">
          {{ block "main" . }}{{ end }}
        </div>
        {{ if and (not .IsHome) (not .Params.hideSidebar) }}
          {{ partial "sidebar.html" . }}
        {{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
